@charset "UTF-8";
:root{
    --cor1:#323C96;
    --cor2:#0017EB;
    --cor3:#363B6B;
    --cor3:#2B2D41;
}
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    
}
body{
    background-color: #2B2D41;
}
main{
    background-color: white;
    text-align: center;
    max-width: 800px;
    margin: auto;
    margin-top: 40px;
    border-radius: 20px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.437);
    
}
main h1 {
    padding-top: 20px;
    color: #323C96;
    font-weight: bold;
    text-shadow: 2px 1px 4px rgba(0, 0, 0, 0.389);
    
}
main h2 {
    padding-top: 40px;
    padding-bottom: 40px;
    color: var(--cor1);
    text-shadow: 2px 1px 4px rgba(0, 0, 0, 0.389);
}
li{
    font-weight: bold;
    color: var(--cor1);
    font-size: 1.2em;
    
}
li:hover{
    color: var(--cor2);
}
ul{
    text-align: center;
    list-style-position: inside;
    columns: 2;
    padding-bottom: 40px;
    padding-top: 40px;
    
}
a{
    text-decoration: none;
    color: var(--cor1);
    font-weight: bold;
    
}

a:visited {
    color: var(--cor2); 
    
}
a:hover{
    text-decoration: underline;

}
main > img{
    padding-top:40px ;
    padding-bottom:40px ;
}
img{
    padding-right: 5px;
}
p{
    font-size: 1.2em;
    padding: 10px 80px;
    text-align: justify;
}

aside{
    padding-bottom: 20px;
    margin: auto;
    
}

strong{
    color: #2B2D41;
}